/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* GENERAL */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    background-color: hsl(218, 28%, 13%);
    font-weight: 400;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    color: hsl(0, 0%, 100%);
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

p {
    color: hsl(201, 11%, 66%);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 10px 70px;
    background-image: linear-gradient(hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

/* HEADER */
header {
    background-color: hsl(217, 28%, 15%);
    text-align: center;
    padding-bottom: 100px;
}

nav {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: hsl(0, 0%, 100%);
}

nav .logo {
    height: 50px;
}

.nav-links {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .intro-img {
    margin-top: 80px;
}

header .intro-details {
    width: 40%;
    margin: 50px auto;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;
}

.intro-details h1 {
    line-height: 50px;
}

.intro-details p {
    width: 75%;
    margin: 30px auto 50px;
}

/* CURVE-SECTION */
.curve-section {
    position: absolute;
    top: 780px;
}

.curve-section-responsive {
    display: none;
}

/* FEATURE-GRID */
.feature-grid {
    display: grid;
    grid-gap: 20%;
    grid-template-columns: 40% 40%;
    margin: 100px 10% 50px;
    text-align: center;
    padding-bottom: 200px;
}

.feature h2 {
    margin: 20px 0px;
}

.feature p {
    width: 80%;
    margin: 0 auto;
}

/* SECTION PRODUCTIVE */
.productive {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
    margin: 0 5%;
    padding-bottom: 200px;
}

.productive-details {
    padding-top: 120px;
}

.productive-details h1 {
    width: 70%;
    font-size: 40px;
}

.productive-details p {
    margin: 20px 0px;
    width: 85%;
}

.productive-details a {
    border-bottom: 1px solid hsl(170, 45%, 43%);
    color: hsl(170, 45%, 43%);
    cursor: pointer;
}

/* SECTION TESTIMONIALS */
.testimonials {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 200px;
}

.quote-img {
    position: relative;
    top: 25px;
    right: 10px;
    z-index: -1;
}

.testimonial-grid {
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 30% 30% 30%;
}

.card {
    margin-top: 10px;
    width: 300px;
    background-color: hsl(219, 30%, 18%);
    box-shadow: 0 7px 16px hsl(220, 32%, 9%);
    border-radius: 6px;
    padding: 30px;
    margin-bottom: 3rem;
}

.card .profile {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.profile .avatar {
    margin-right: 20px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* FOOTER */
footer {
    background-color: hsl(216, 53%, 9%);
}

.cta {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    top: -100px;
    padding: 40px;
    box-shadow: 0px 0px 10px 5px hsl(217, 25%, 10%);
    background-color: hsl(218, 28%, 13%);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.call p {
    margin: 20px;
}

.action {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.action input {
    width: 60%;
    height: 40px;
    border: 1px solid hsl(218, 28%, 13%);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    padding-left: 20px;
    font-size: 12px;
    color: hsl(0, 0%, 75%);
    opacity: 1; /* Firefox */
}

.action .btn {
    padding: 10px 50px;
}

.footer-grid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-gap: 90px;
    grid-template-columns: 30% 15% 15% 20%;
    margin-bottom: 60px;
}

.logo-foot {
    height: 50px;
    margin-bottom: 30px;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

/* FOOTER COLUMN-1 */
.c1 ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.c1 ul li:first-child {
    align-items: baseline;
}

.c1 ul a {
    margin-bottom: 10px;
}

.c1 ul img {
    height: 15px;
    margin-right: 20px;
}


/* WHITE COLOR FOOTER LINKS */
.c1 ul a, 
.c2 ul a,
.c3 ul a,
.c4 a {
    color: hsl(0, 0%, 100%);
}

/* FOOTER COLUMN-2 and FOOTER COLUMN-3 */
.c2, .c3 {
    margin: 0 auto;
}

.c2 ul li:first-child,
.c3 ul li:first-child {
    padding-top: 70px;
}

.c2 ul li,
.c3 ul li {
    margin-bottom: 10px;
}

/* FOOTER COLUMN-4 */
.c4 i {
    margin-right: 15px;
    padding-top: 70px;
    font-size: 25px;
}

.attribution { font-size: 15px; text-align: center; }
.attribution a { color: hsl(176, 68%, 64%);}

/* MEDIA QUERY  */
@media only screen and (max-width: 500px) {
    header {
        padding-bottom: 30px;
    }

    nav .nav-links {
        width: 55%;
        font-size: 15px;
    }

    nav .logo {
        height: 25px;
    }

    header .intro-details {
        width: 90%;
        margin-bottom: -300px;
    }

    .intro-details h1 {
        font-size: 25px;
        line-height: 40px;
    }
    
    .intro-details p {
        width: 90%;
    }

    .curve-section {
        display: none;
    }

    .curve-section-responsive {
        display: block;
        position: absolute;
        top: 350px;
    }

    .intro-img,
    .productive-img {
        height: 200px;
    }

    .feature-grid {
        grid-gap: 10%;
        grid-template-columns: 100%;
        padding-top: 250px;
        padding-bottom: 330px;
    }
    
    .feature p {
        width: 100%;
    }

    .productive {
        grid-gap: 0px;
        grid-template-columns: 100%;
        padding-bottom: 100px;
    }

    .productive-img {
        margin: 0 auto;
    }

    .productive-details {
        width: 100%;
        padding-top: 50px;
        margin: 0 2%;
    }

    .productive-details h1 {
        width: 100%;
        font-size: 20px;
    }

    .productive-details p {
        width: 90%;
    }

    .testimonials {
        margin: 0 5%;
    }

    .testimonials .quote-img {
        height: 30px;
        top: 5px;
        right: 0px;
        margin-bottom: 5px;
    }

    .testimonial-grid {
        grid-gap: 0px;
        grid-template-columns: 100%;
    }

    .card {
        padding: 15px;
        margin-bottom: 1rem;
    }

    .cta {
        padding: 30px;
        width: 75%;
        margin: 0 5%;
    }

    .call h1 {
        font-size: 20px;
    }

    .call p {
        width: 95%;
    }

    .action {
        display: block;
    }

    .action input {
        width: 100%;
        margin-bottom: 30px;
    }

    .action .btn {
        padding: 12px 72px;
    }

    .footer-grid {
        grid-gap: 0px;
        grid-template-columns: 100%;
    }

    .c2, .c3 {
        margin: 0;
    }

    .c4 .social {
        width: 50%;
        margin: 0px 30%;
    }

    .attribution { font-size: 12px; }
} 